@{
    ViewBag.Title = "Om bloggen";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title.</h2>
        <p>Lorem ipsum dolor sit amet, eu quo decore eleifend forensibus, simul audiam pri et. Denique adipisci sapientem his te. Vel quot eligendi vituperatoribus te, eos ne animal invidunt. Ea nam vocent disputationi, ex mei duis malis. Nec at prima novum option.
Eos et autem ipsum. Ne eos debitis dolorem recusabo, per prima labore scriptorem no. Ne sit verear conceptam interesset. Eleifend inimicus usu ut, vix id nonumy primis omittantur, in quo qualisque concludaturque. Appetere platonem consequat sea ex, et quo odio doming latine.
</p>
    </div>
</div>

