@{
    ViewBag.Title = "Home Page";
}
@*Intro*@
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Skruvbloggen - Välkommen</h1>
            <p>För att läsa mer om bloggen navigera till Om bloggen uppe i navbaren.</p>
        </div>
    </div>
</div>
@*Post*@
<div class="row">
    <div class="col-md-12">
        <article>
            <h2 class="text-center">Skruvar är livet.</h2>
            <hr />
            <p>Lorem ipsum dolor sit amet, eu quo decore eleifend forensibus, simul audiam pri et. Denique adipisci sapientem his te. Vel quot eligendi vituperatoribus te, eos ne animal invidunt. Ea nam vocent disputationi, ex mei duis malis. Nec at prima novum option.
             Eos et autem ipsum. Ne eos debitis dolorem recusabo, per prima labore scriptorem no. Ne sit verear conceptam interesset. Eleifend inimicus usu ut, vix id nonumy primis omittantur, in quo qualisque concludaturque. Appetere platonem consequat sea ex, et quo odio doming latine.
            </p>
        </article>
        <hr/>
    </div>
</div>
@*Post*@
<div class="row">
    <div class="col-md-12">
        <article>
            <h2 class="text-center">Livet är skruvar.</h2>
            <hr />
            <p>
                Lorem ipsum dolor sit amet, eu quo decore eleifend forensibus, simul audiam pri et. Denique adipisci sapientem his te. Vel quot eligendi vituperatoribus te, eos ne animal invidunt. Ea nam vocent disputationi, ex mei duis malis. Nec at prima novum option.
                Eos et autem ipsum. Ne eos debitis dolorem recusabo, per prima labore scriptorem no. Ne sit verear conceptam interesset. Eleifend inimicus usu ut, vix id nonumy primis omittantur, in quo qualisque concludaturque. Appetere platonem consequat sea ex, et quo odio doming latine.
            </p>
        </article>
    </div>
</div>